.button:pressed {
    -fx-background-color: #3a86ff;
    -fx-effect: dropshadow(gaussian, #222, 8, 0.3, 0, 2);
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.send {
    -fx-border-radius: 20;
}

.input .text-field {
    -fx-prompt-text-fill: #a0a0a0; // or any color you want
}